<!DOCTYPE html>
<html>
  <head>
    <title>Forms Example</title>
  </head>
  <body>
    <h1>Web Based Greeter</h1>

    <form action="/greetings" method="post">
      <p><label for="first_name_input">What is your first name?</label></p>
      <input type="text" name="first_name" id="first_name_input">
      <input type="submit" value="Say Hello">
    </form>
  </body>
</html>
